a:hover {
color: orange;
}

body {
  background-color: lightcyan;
  color: black;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  border-color: teal;
  width: 5%;
}

h1 {
  color: lightseagreen;
}

h2 {
  color: lightseagreen;
  font-weight: lighter;
  font-size: 1.7em;
  text-align: center;
}

h3 {
  color: lightseagreen;
  font-style: italic;
  text-align: center;
}
ul {
  text-align: center;
  list-style-position: inside;
}

ol {
  text-align: center;
  list-style-position: inside;
}
div {
  text-align: center
}

img {
  height: 110px;
}
